@using System.Collections.Generic
@using BlazorExample.Models

<div class="table-responsive">
    <table id="listeners-table" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>ListenerType</th>
                <th>Status</th>
                <th>StartTime</th>
                <th>ConnectAddresses</th>
                <th>ConnectPort</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Listeners)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ListenerType.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public IEnumerable<Listener> Listeners { get; set; }
}
